*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #9e9e9e;
}

nav{
    background-color: #3d3d3d;
    color:#ededdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
        display: flex;
        align-items: center;
        img{
            height: 40px;
            margin-left: 60px;
            padding-right: 5px;
        }
        .logo-nombre{
            font-size: 30px;
        }
        .logo-punto{
            font-size: 30px;
            color: red;
        }
    }
    input{
        display: none;
    }
    label{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: flex-end;
        margin-right: 60px;
        li{
            list-style: none;
            a{
                display: block;
                padding: 20px;
                color:#ededdf;
                text-decoration: none;
                &:hover{
                    color: #fff;
                    transform: scale(1.1);
                    transition: 0.2s;
                }
            }
        }
    }
}

@media screen and (max-width:769px){
    nav {
        label{
            display: block;
            padding: 20px;
            text-align: end;
        }
        .menu{
            flex-direction: column;
            position:absolute;
            margin:-100px;
        }
        #box:checked ~ .menu{
            
            background-color: #3d3d3d;
            align-items: flex-end;
            width: 80%;
            margin-left: 20%;
            margin-top:190px;
        }
    }
}